.version.donators /* version checker */
{
	color: #0000ED;
	background-color: #913246;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1831.5499999999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;/* should not cover content below */
}

#pu1661
{
	width: 0.01px;
	margin-left: -100px;
}

#u1661
{
	z-index: 63;
	width: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u1823
{
	z-index: 65;
	min-height: 380px;
	background-color: #C18771;
}

#u1822-16
{
	z-index: 66;
	width: 1020px;
	min-height: 380px;
	background-color: transparent;
	font-size: 55px;
	text-align: center;
	line-height: 66px;
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u1822
{
	text-decoration: underline;
}

#u1822-4
{
	font-size: 25px;
	text-decoration: none;
	font-weight: 500;
	line-height: 30px;
}

#u1822-7
{
	font-size: 25px;
	text-decoration: underline;
	font-weight: 500;
	line-height: 30px;
}

#u1822-5,#u1822-8,#u1822-10,#u1822-12
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1822-9,#u1822-11
{
	font-size: 25px;
	text-decoration: none;
	font-weight: 700;
	line-height: 30px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1823-bw
{
	z-index: 65;
	min-height: 380px;
	margin-top: 380px;
}

#u1721
{
	z-index: 82;
	min-height: 380px;
	background-color: #484E59;
}

#u1721_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
	padding-top: 30px;
	padding-bottom: 15px;
}

#menuu1683
{
	z-index: 83;
	width: 911px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 154px;
	position: relative;
}

#u1705
{
	width: 160px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1708
{
	width: 160px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1708:hover
{
	background-color: #EDC80C;
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u1710-4
{
	width: 57px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1708:hover #u1710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u1708.MuseMenuActive #u1710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u1712
{
	width: 201px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 162px;
}

#u1713
{
	width: 201px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1713:hover
{
	background-color: #EDC80C;
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1715-4
{
	width: 99px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1713:hover #u1715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1713.MuseMenuActive #u1715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1684
{
	width: 202px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u1687
{
	width: 202px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1687:hover
{
	background-color: #EDC80C;
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u1690-4
{
	width: 100px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1687:hover #u1690-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1687.MuseMenuActive #u1690-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1691
{
	width: 150px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#u1692
{
	width: 150px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1692:hover
{
	background-color: #EDC80C;
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u1694-4
{
	width: 48px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1692:hover #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1692.MuseMenuActive #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1698
{
	width: 190px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 721px;
}

#u1701
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1701.MuseMenuActive
{
	background-color: #EDC80C;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1704-4
{
	width: 88px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1701:hover #u1704-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1701.MuseMenuActive #u1704-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1719-4
{
	width: 0.01px;
	left: 101px;
	margin-top: 33px;
	position: relative;
}

#u1719-4
{
	z-index: 114;
	width: 999px;
	min-height: 241px;
	background-color: transparent;
	font-size: 180px;
	color: #EEC80B;
	text-transform: uppercase;
	text-align: center;
	line-height: 216px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1720
{
	z-index: 118;
	width: 981px;
	height: 22px;
	border-style: solid;
	border-color: #EDC80C;
	background-color: #484E59;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 18px;
	border-width: 0px 0px 5px;
}

#u1722
{
	z-index: 119;
	width: 981px;
	height: 21px;
	border-style: solid;
	border-color: #EDC80C;
	background-color: #484E59;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 18px;
	border-width: 5px 0px 0px;
}

#u1721-bw
{
	z-index: 82;
	min-height: 380px;
}

#u1671-4
{
	z-index: 45;
	width: 980px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#u1663
{
	z-index: 25;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 879px;
	left: 20px;
}

#u1666
{
	z-index: 26;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1665-4
{
	z-index: 31;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1664-4
{
	z-index: 27;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u1676
{
	z-index: 59;
	width: 456px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 881px;
	left: 544px;
}

#u1677
{
	z-index: 60;
	width: 456px;
	background-color: #484E59;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
}

#u1678
{
	z-index: 61;
	width: 322px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 65px;
}

#u1672
{
	z-index: 35;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1014px;
	left: 20px;
}

#u1673
{
	z-index: 36;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1674-4
{
	z-index: 41;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1675-4
{
	z-index: 37;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u1667
{
	z-index: 49;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1151px;
	left: 20px;
}

#u1668
{
	z-index: 50;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

.ie #u1666,.ie #u1673,.ie #u1668
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu1665-4,#pu1674-4,#pu1670-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 126px;
}

#u1670-4
{
	z-index: 55;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1669-4
{
	z-index: 51;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#pu1811
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 467px;
}

#u1811
{
	z-index: 6;
	height: 371px;
	background-color: #484E59;
}

#u1811-bw
{
	z-index: 6;
	height: 371px;
}

#u1812
{
	z-index: 21;
	min-height: 69px;
	background-color: #C18771;
	padding-bottom: 24px;
}

#u1823_align_to_page,#u1812_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
}

#u1819-3
{
	z-index: 22;
	width: 980px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 120px;
}

#u1812-bw
{
	z-index: 21;
	min-height: 69px;
}

#pbuttonu1816
{
	width: 0.01px;
	padding-bottom: 206px;
	margin-left: 20px;
	margin-top: -243px;
}

#buttonu1816
{
	z-index: 7;
	width: 426px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 1436px;
	left: 540px;
	padding: 12px 15px 12px 19px;
}

#buttonu1816:hover
{
	background-color: #C18771;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#u1817-3
{
	z-index: 11;
	width: 426px;
	min-height: 44px;
	background-color: transparent;
	font-size: 25px;
	line-height: 40px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1816:hover #u1817-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#u1818-3
{
	z-index: 8;
	width: 404px;
	min-height: 133px;
	background-color: transparent;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#buttonu1816:hover #u1818-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#buttonu1813
{
	z-index: 14;
	width: 426px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 1436px;
	left: 20px;
	padding: 12px 15px 12px 19px;
}

#buttonu1813:hover
{
	background-color: #C18771;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#buttonu1816.ButtonSelected,#buttonu1813.ButtonSelected
{
	background-color: transparent;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#u1814-3
{
	z-index: 18;
	width: 426px;
	min-height: 44px;
	background-color: transparent;
	font-size: 25px;
	line-height: 40px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1816.ButtonSelected #u1817-3,#buttonu1813:hover #u1814-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#buttonu1813.ButtonSelected #u1814-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#u1815-3
{
	z-index: 15;
	width: 404px;
	min-height: 133px;
	background-color: transparent;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#buttonu1816.ButtonSelected #u1818-3,#buttonu1813:hover #u1815-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#buttonu1813.ButtonSelected #u1815-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#u1724-4
{
	z-index: 2;
	width: 980px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #000000;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 110px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1020px;
}

