.version.index /* version checker */
{
	color: #00001B;
	background-color: #D6F823;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1831.5499999999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;/* should not cover content below */
}

#u687
{
	z-index: 69;
	min-height: 380px;
	background-color: #484E59;
}

#u687_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
	padding-top: 30px;
	padding-bottom: 15px;
}

#menuu688
{
	z-index: 70;
	width: 911px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 145px;
	position: relative;
}

#u703
{
	width: 160px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u706
{
	width: 160px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u706.MuseMenuActive
{
	background-color: #EDC80C;
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u708-4
{
	width: 57px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u706:hover #u708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u706.MuseMenuActive #u708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u689
{
	width: 201px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 162px;
}

#u690
{
	width: 201px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u690:hover
{
	background-color: #EDC80C;
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u691-4
{
	width: 99px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u690:hover #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u690.MuseMenuActive #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u696
{
	width: 202px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u697
{
	width: 202px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u697:hover
{
	background-color: #EDC80C;
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u698-4
{
	width: 100px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u697:hover #u698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u697.MuseMenuActive #u698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u710
{
	width: 150px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#u711
{
	width: 150px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u711:hover
{
	background-color: #EDC80C;
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u713-4
{
	width: 48px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u711:hover #u713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u711.MuseMenuActive #u713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u717
{
	width: 190px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 721px;
}

#u718
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u718:hover
{
	background-color: #EDC80C;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u719-4
{
	width: 88px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u718:hover #u719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u718.MuseMenuActive #u719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu724-4
{
	width: 0.01px;
	left: 101px;
	margin-top: 33px;
	position: relative;
}

#u724-4
{
	z-index: 101;
	width: 999px;
	min-height: 241px;
	background-color: transparent;
	font-size: 180px;
	color: #EEC80B;
	text-transform: uppercase;
	text-align: center;
	line-height: 216px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u725
{
	z-index: 105;
	width: 981px;
	height: 22px;
	border-style: solid;
	border-color: #EDC80C;
	background-color: #484E59;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 18px;
	border-width: 0px 0px 5px;
}

#u726
{
	z-index: 106;
	width: 981px;
	height: 21px;
	border-style: solid;
	border-color: #EDC80C;
	background-color: #484E59;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 18px;
	border-width: 5px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u687-bw
{
	z-index: 69;
	min-height: 380px;
}

#u630
{
	z-index: 57;
	min-height: 380px;
	background-color: #C18771;
}

#u871-11
{
	z-index: 58;
	width: 1020px;
	min-height: 380px;
	background-color: transparent;
	font-size: 55px;
	text-align: center;
	line-height: 66px;
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u871
{
	text-decoration: underline;
}

#u871-4
{
	font-size: 15px;
	text-decoration: none;
	font-weight: 500;
	line-height: 18px;
}

#u871-5,#u871-9
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u871-7
{
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
}

#u871-8
{
	font-size: 15px;
	text-decoration: none;
	font-weight: 700;
	line-height: 18px;
}

#u630-bw
{
	z-index: 57;
	min-height: 380px;
}

#u610-4
{
	z-index: 41;
	width: 980px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#u602
{
	z-index: 25;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 879px;
	left: 20px;
}

#u605
{
	z-index: 26;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../images/untitled-1-u605-fr.png") no-repeat center center;
	background-size: contain;
}

#u603-3
{
	z-index: 30;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u604-3
{
	z-index: 27;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u615
{
	z-index: 53;
	width: 456px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 881px;
	left: 544px;
}

#u616
{
	z-index: 54;
	width: 456px;
	background-color: #484E59;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
}

#u617
{
	z-index: 55;
	width: 322px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 65px;
}

#u606
{
	z-index: 33;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1014px;
	left: 20px;
}

#u608
{
	z-index: 34;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../images/untitled-2-u608-fr.png") no-repeat center center;
	background-size: contain;
}

#u607-3
{
	z-index: 38;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u609-3
{
	z-index: 35;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u611
{
	z-index: 45;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1151px;
	left: 20px;
}

#u613
{
	z-index: 46;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../images/untitled-3-u613-fr.png") no-repeat center center;
	background-size: contain;
}

#pu603-3,#pu607-3,#pu614-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 126px;
}

#u614-3
{
	z-index: 50;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u612-3
{
	z-index: 47;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#pu586
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 467px;
}

#u586
{
	z-index: 6;
	height: 371px;
	background-color: #484E59;
}

#u586-bw
{
	z-index: 6;
	height: 371px;
}

#u593
{
	z-index: 21;
	min-height: 69px;
	background-color: #C18771;
	padding-bottom: 24px;
}

#u630_align_to_page,#u593_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
}

#u594-3
{
	z-index: 22;
	width: 980px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 120px;
}

#u593-bw
{
	z-index: 21;
	min-height: 69px;
}

#pbuttonu587
{
	width: 0.01px;
	padding-bottom: 206px;
	margin-left: 20px;
	margin-top: -243px;
}

#buttonu587
{
	z-index: 7;
	width: 426px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 1436px;
	left: 540px;
	padding: 12px 15px 12px 19px;
}

#buttonu587:hover
{
	background-color: #C18771;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#u589-3
{
	z-index: 11;
	width: 426px;
	min-height: 44px;
	background-color: transparent;
	font-size: 25px;
	line-height: 40px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu587:hover #u589-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#u588-3
{
	z-index: 8;
	width: 404px;
	min-height: 133px;
	background-color: transparent;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#buttonu587:hover #u588-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#buttonu590
{
	z-index: 14;
	width: 426px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 1436px;
	left: 20px;
	padding: 12px 15px 12px 19px;
}

#buttonu590:hover
{
	background-color: #C18771;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#buttonu587.ButtonSelected,#buttonu590.ButtonSelected
{
	background-color: transparent;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#u591-3
{
	z-index: 18;
	width: 426px;
	min-height: 44px;
	background-color: transparent;
	font-size: 25px;
	line-height: 40px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu587.ButtonSelected #u589-3,#buttonu590:hover #u591-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#buttonu590.ButtonSelected #u591-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#u592-3
{
	z-index: 15;
	width: 404px;
	min-height: 133px;
	background-color: transparent;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#buttonu587.ButtonSelected #u588-3,#buttonu590:hover #u592-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#buttonu590.ButtonSelected #u592-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#u567-4
{
	z-index: 2;
	width: 980px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #000000;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 110px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1020px;
}

