.version.streamers /* version checker */
{
	color: #0000F8;
	background-color: #8E25D7;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1831.5499999999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;/* should not cover content below */
}

#pu1124
{
	width: 0.01px;
	margin-left: -100px;
}

#u1124
{
	z-index: 60;
	width: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u956
{
	z-index: 62;
	min-height: 380px;
	background-color: #C18771;
}

#u955-9
{
	z-index: 63;
	width: 1020px;
	min-height: 380px;
	background-color: transparent;
	font-size: 55px;
	text-align: center;
	line-height: 66px;
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u955
{
	text-decoration: underline;
}

#u955-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u955-4
{
	font-size: 25px;
	text-decoration: none;
	font-weight: 500;
	line-height: 30px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u956-bw
{
	z-index: 62;
	min-height: 380px;
	margin-top: 380px;
}

#u1068
{
	z-index: 72;
	min-height: 380px;
	background-color: #484E59;
}

#u1068_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
	padding-top: 30px;
	padding-bottom: 15px;
}

#menuu1069
{
	z-index: 73;
	width: 911px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 145px;
	position: relative;
}

#u1084
{
	width: 160px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1087
{
	width: 160px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1087:hover
{
	background-color: #EDC80C;
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u1089-4
{
	width: 57px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1087:hover #u1089-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u1087.MuseMenuActive #u1089-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u1070
{
	width: 201px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 162px;
}

#u1071
{
	width: 201px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1071.MuseMenuActive
{
	background-color: #EDC80C;
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1073-4
{
	width: 99px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1071:hover #u1073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1071.MuseMenuActive #u1073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1077
{
	width: 202px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u1078
{
	width: 202px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1078:hover
{
	background-color: #EDC80C;
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u1079-4
{
	width: 100px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1078:hover #u1079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1078.MuseMenuActive #u1079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1098
{
	width: 150px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#u1099
{
	width: 150px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1099:hover
{
	background-color: #EDC80C;
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u1102-4
{
	width: 48px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1099:hover #u1102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1099.MuseMenuActive #u1102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1091
{
	width: 190px;
	min-height: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 721px;
}

#u1092
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 37px;
	position: relative;
}

#u1092:hover
{
	background-color: #EDC80C;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1095-4
{
	width: 88px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 51px;
}

#u1092:hover #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1092.MuseMenuActive #u1095-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1066-4
{
	width: 0.01px;
	left: 101px;
	margin-top: 33px;
	position: relative;
}

#u1066-4
{
	z-index: 104;
	width: 999px;
	min-height: 241px;
	background-color: transparent;
	font-size: 180px;
	color: #EEC80B;
	text-transform: uppercase;
	text-align: center;
	line-height: 216px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1067
{
	z-index: 108;
	width: 981px;
	height: 22px;
	border-style: solid;
	border-color: #EDC80C;
	background-color: #484E59;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 18px;
	border-width: 0px 0px 5px;
}

#u1105
{
	z-index: 109;
	width: 981px;
	height: 21px;
	border-style: solid;
	border-color: #EDC80C;
	background-color: #484E59;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 18px;
	border-width: 5px 0px 0px;
}

#u1068-bw
{
	z-index: 72;
	min-height: 380px;
}

#u958-4
{
	z-index: 44;
	width: 980px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#u963
{
	z-index: 25;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 879px;
	left: 20px;
}

#u965
{
	z-index: 26;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../images/blazy.jpg") no-repeat center center;
	background-size: contain;
}

#u964-4
{
	z-index: 32;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u966-5
{
	z-index: 27;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u971
{
	z-index: 56;
	width: 456px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 881px;
	left: 544px;
}

#u974
{
	z-index: 57;
	width: 456px;
	background-color: #484E59;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
}

#u972
{
	z-index: 58;
	width: 322px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 65px;
}

#u959
{
	z-index: 36;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1014px;
	left: 20px;
}

#u961
{
	z-index: 37;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../images/untitled-2-u608-fr.png") no-repeat center center;
	background-size: contain;
}

#u962-3
{
	z-index: 41;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u960-3
{
	z-index: 38;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u967
{
	z-index: 48;
	width: 495px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1151px;
	left: 20px;
}

#u969
{
	z-index: 49;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: transparent url("../images/untitled-3-u613-fr.png") no-repeat center center;
	background-size: contain;
}

#pu964-4,#pu962-3,#pu968-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 126px;
}

#u968-3
{
	z-index: 53;
	width: 369px;
	min-height: 35px;
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	color: #C18771;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#u970-3
{
	z-index: 50;
	width: 369px;
	min-height: 70px;
	background-color: transparent;
	line-height: 22px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#pu946
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 467px;
}

#u946
{
	z-index: 6;
	height: 371px;
	background-color: #484E59;
}

#u946-bw
{
	z-index: 6;
	height: 371px;
}

#u953
{
	z-index: 21;
	min-height: 69px;
	background-color: #C18771;
	padding-bottom: 24px;
}

#u956_align_to_page,#u953_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
}

#u945-3
{
	z-index: 22;
	width: 980px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 120px;
}

#u953-bw
{
	z-index: 21;
	min-height: 69px;
}

#pbuttonu947
{
	width: 0.01px;
	padding-bottom: 206px;
	margin-left: 20px;
	margin-top: -243px;
}

#buttonu947
{
	z-index: 7;
	width: 426px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 1436px;
	left: 540px;
	padding: 12px 15px 12px 19px;
}

#buttonu947:hover
{
	background-color: #C18771;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#u949-3
{
	z-index: 11;
	width: 426px;
	min-height: 44px;
	background-color: transparent;
	font-size: 25px;
	line-height: 40px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu947:hover #u949-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#u948-3
{
	z-index: 8;
	width: 404px;
	min-height: 133px;
	background-color: transparent;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#buttonu947:hover #u948-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#buttonu950
{
	z-index: 14;
	width: 426px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 1436px;
	left: 20px;
	padding: 12px 15px 12px 19px;
}

#buttonu950:hover
{
	background-color: #C18771;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#buttonu947.ButtonSelected,#buttonu950.ButtonSelected
{
	background-color: transparent;
	width: 426px;
	min-height: 0px;
	margin: 0px;
}

#u951-3
{
	z-index: 18;
	width: 426px;
	min-height: 44px;
	background-color: transparent;
	font-size: 25px;
	line-height: 40px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu947.ButtonSelected #u949-3,#buttonu950:hover #u951-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#buttonu950.ButtonSelected #u951-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 426px;
	margin: 0px;
}

#u952-3
{
	z-index: 15;
	width: 404px;
	min-height: 133px;
	background-color: transparent;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#buttonu947.ButtonSelected #u948-3,#buttonu950:hover #u952-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#buttonu950.ButtonSelected #u952-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 133px;
	width: 404px;
	margin: 5px 0px 0px 22px;
}

#u1061-4
{
	z-index: 2;
	width: 980px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #000000;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 110px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1020px;
}

